Outputs_g_0.5_d_0.01/expl_dt=8.out
Outputs_g_0.5_d_0.01/expl_dt=4.out
Outputs_g_0.5_d_0.01/expl_dt=2.out
Outputs_g_0.5_d_0.01/expl_dt=1.out
Outputs_g_0.5_d_0.01/expl_dt=0.5.out
Outputs_g_0.5_d_0.01/expl_dt=0.25.out